<h1>
    Buscar por dia 
</h1>

<form action="/Partidos/DelDiaConFecha" method="post">
    @Html.AntiForgeryToken()
    <div>
        fecha: <input type="datetime-local" name="Fecha" value="" />
    </div>

    <input type="submit" name="DelDiaConFecha" value="DelDiaConFecha" />
</form>
